@model SoftwareDesign.Models.QuoteResponseViewModel

@{
    ViewData["Title"] = "Respond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Respond To Quote</h1>
<partial name="~/Views/Shared/_NotificationBox.cshtml">

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.userID)                </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.userID)                    </dd>
        <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.Postcode)              </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.Postcode)                  </dd>
        <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.Created)               </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.Created)                   </dd>
        @*<dt class ="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.ContractID)           </dt>
        <dd class ="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.ContractID)               </dd>*@
        <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.Status)                </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.Status)                    </dd>
        <dt class="col-sm-2">  Electricity Usage                                                       </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.EstimatedElectricityUsage) </dd>
        <dt class="col-sm-2">  Gas Usage                                                               </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.EstimatedGasUsage)         </dd>
        @*<dt class ="col-sm-2">  @Html.DisplayNameFor(model =>model.respondQuote.StartDate)             </dt>
        <dd class ="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.StartDate)                </dd>
        <dt class ="col-sm-2">  @Html.DisplayNameFor(model => model.respondQuote.EndDate)              </dt>
        <dd class ="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.EndDate)                  </dd>*@
        <dt class="col-sm-2">  Energy Type                                                             </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.SelectedContractType)      </dd>
        <dt class="col-sm-2">  Meter Type                                                              </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.SelectedMeterType)         </dd>
        <dt class="col-sm-2">  Payment Frequency                                                       </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.respondQuote.SelectedPaymentFrequency)  </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Respond">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="respondQuote.ID" />
            <div class="form-group">
                <label asp-for="respondQuote.Status" class="control-label"></label>
                <select asp-for="respondQuote.Status" asp-items="Quote.PopulateStatusDropDownList()"
                        class="form-control">
                </select>
                <span asp-validation-for="respondQuote.Status" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
